# Python environment & cache
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Large Model weights & checkpoints (Prevent huge uploads to GitHub)
models/*.gguf
models/.cache/
models/final_adapter/


# Hugging Face & Tokenizer cache
huggingface_tokenizers_cache/
unsloth_compiled_cache/

# User downloads, generated media & temporary exports

downloads/
*.pptx
*.docx
*.xlsx
*.csv
*.png
*.jpg
*.jpeg
*.webp
*.txt

# IDE, OS & Environment configs
.env
.vscode/
.idea/
.DS_Store
Thumbs.db